<div class="row">
  <div class="small-12 center_text top-text">

    <%= @student.full_name %>
  </div>
</div>
<div class="row">
  <div class="small-12 center_text top-text">
    <%= "Class: #{@section.name}" %>
  </div>
  <hr>
</div>
<div class="row">
  <div class="small-6 columns center_text top-text text-right">
    <%= "#{@assignment.name}" %>
  </div>
  <div class="small-4 columns center_text top-text end">
    <%= "Score: #{@submission.score}" %>
  </div>
</div>

</div>

<div class="row">
  <div class="small-12 center_text top-text">

  </div>
</div>
<div class="row">
  <div class="small-8 small-push-2 columns">
    <%= text_area_tag "Add a Comment" %>

    <%= submit_tag "Add a Comment", class: "button"%>
  </div>
</div>

<div class="row">
<hr>
<div class="small-8 teacher-block">
<h3>Teacher <i class="fi-quote"></i><h3>
<h5>Did you get a chance to see Jonathan's submission this week?
</h5>
</div>
<div class="small-push-4 small-8 text-right student-block">
<h3>Parent  <i class="fi-quote"></i><h3>
<h5>Yes thanks for reaching out to me</h5>
</div>
<div class="small-8 teacher-block">
<h3>Teacher  <i class="fi-quote"></i><h3>
<h5>Any questions regarding the grading or problems?</h5>
</div>
<div class="small-push-4 small-8 text-right student-block">
<h3>Parent  <i class="fi-quote"></i><h3>
<h5> Actually, I was wondering what is the correct method for solving problem six<h5>
</div>
<div class="small-8 teacher-block">
<h3>Teacher  <i class="fi-quote"></i><h3>
<h5>Great, thanks for reminding me I'm uploading the answer sheet right now, you'll see it in a few minutes!</h5>
</div>
</div>


