<div class="row">
  <div class="small-12 center_text top-text">

    <%= @student.full_name %>
  </div>
</div>
<div class="row">
  <div class="small-12 center_text top-text">
    <%= "Class: #{@section.name}" %>
  </div>
</div>
<div class="row">
  <div class="small-6 columns center_text top-text text-right">
    <%= "#{@assignment.name}" %>
  </div>
  <div class="small-4 columns center_text top-text end">
    <%= "Score: #{@submission.score}" %>
  </div>
</div>

</div>

<div class="row">
  <div class="small-12 center_text top-text">

  </div>
</div>
<div class="row">
  <div class="small-8 small-push-2 columns">
    <%= text_area_tag "Add a Comment" %>

    <%= submit_tag "Add a Comment", class: "button"%>
  </div>
</div>

<div class="message">

</div>


