<div class="row">
  <div class="small-8 text-center">
    <div class="small-8-columns">
      <h2 class="center">Log In</h2>
    </div>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row">
    <div class="small-10">
      <div class="small-2 columns password-form-labels"><%= f.label :email, class: "right inline password-form-labels" %></div>
      <div class="small-6 columns end">
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-10">
      <div class="small-2 columns password-form-labels"><%= f.label :password, class: "right inline password-form-labels" %></div>
      <div class="small-6 columns">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="small-3 columns end">
          <%= f.check_box :remember_me, class: "left inline" %>
          <%= f.label :remember_me, class: "left inline" %>
        </div>
      <% end -%>
    </div>
  </div>

  <div class="row">
    <div class="small-10">
      <div class="small-2 columns small-push-2">
        <div class="actions">
          <%= f.submit "Log in", class: "center inline button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<br>
<div class="row">
    <div class="small-10">
      <div class="small-4 columns small-push-2">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
